services:
  notebook:
    image: gelos-lc-datagen:latest
    build: .
    user: "${UID:-1000}:${GID:-100}"
    environment:
      PYTHONPATH: /app/code
      NB_UID: "${UID:-1000}"
      NB_GID: "${GID:-100}"
      GRANT_SUDO: yes
    ports:
      - "${JUPYTER_HOST_PORT}:8888"
      - "${DASK_HOST_PORT}:8787"
    volumes:
      - ./:/app/code/
      - "${EXTERNAL_PATH}:/app/data/external/"
      - "${RAW_PATH}:/app/data/raw/"
      - "${INTERIM_PATH}:/app/data/interim/"
      - "${PROCESSED_PATH}:/app/data/processed/"
    shm_size: '2gb'
    command: bash -lc "jupyter lab --ip=0.0.0.0 ${JUPYTERLAB_ARGS:-}"