services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    image: gelos-lc-datagen-dev
    user: "${UID:-1000}:${GID:-100}"
    group_add:
      - users
    environment:
      PYTHONPATH: /app
    working_dir: /app
    ports:
      - "${JUPYTER_HOST_PORT:-8888}:8888"
      - "${DASK_HOST_PORT:-8787}:8787"
    volumes:
      - ./:/app
      - "${EXTERNAL_PATH}:/app/data/external/"
      # - "${RAW_PATH}:/app/data/raw/" # raw data is small and therefore stored in the repo
      - "${INTERIM_PATH}:/app/data/interim/"
      - "${PROCESSED_PATH}:/app/data/processed/"
    shm_size: '2gb'
    command: pixi run start-notebook.py
  test:
    build:
      context: .
      dockerfile: Dockerfile
      target: test
    image: gelos-lc-datagen-test
    environment:
      PYTHONPATH: /app
    working_dir: /app
    command: pixi run make test
  prod:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    image: gelos-lc-datagen-prod
    environment:
      PYTHONPATH: /app
    working_dir: /app
 