services:
  notebook:
    image: gfm-bench:latest
    build: .
    ports:
      - "8088:8888"
      - "8087:8787"
    volumes:
      - /workspace/Denys/gfm-bench:/home/benchuser/code/
      - /workspace/_output/gfm-bench-data:/home/benchuser/data/
    shm_size: '2gb'